.infomation{width:96%;margin:10px auto;padding:10px;box-sizing:border-box;background:white;box-shadow:0 0 3px 0 rgba(0,0,0,.13);border-radius:5px}
.infomation h3{line-height:34px;font-size:20px;color:#333;margin-bottom:20px}
.details{line-height:28px;font-size:14px;color:#666}