.footer{position:fixed;bottom:0;left:0;width:100%;height:60px;box-shadow:0 -1px 3px 0 rgba(0,0,0,.2);background:#fff;z-index:88}
.footer ul li{width:20%;float:left;text-align:center;color:#333;font-size:12px}
.footer ul a{display:block;height:50px;padding-top:6px}
.footer ul h4{height:20px;line-height:20px}
.footer ul p{height:30px;line-height:30px;text-align:center}
.footer ul i{font-size:24px;color:#666;margin:0}
.footer ul li a.active h4,.footer ul li a.active i{color:#3095ff}
.footer>a{display:block;width:80%;height:40px;line-height:40px;background:#17ce71;color:white;font-size:12px;text-align:center;margin:10px auto;border-radius:3px}

